<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}} 
    {{!-- using > symbole we do not want to add actuall path --}}
    <p>{{helpText}}</p>
    {{>footer}}
</body>

</html>